@import "_variables";
@import "_utils";
@import "_ctabutton";


body {
	height:100%;
	width:100%;
	#landing-page{
		position:absolute;
		height:100%;
		width:100%;
		z-index: 3;
		background:#fff;

		#map-stage{
			position:absolute;
			left:50%;
			top:0;
			transform:translateX(-50%);
			width:1000px;
			height:500px;
		}

		#us-map{
		    position:absolute;
		    left:50%;
		    bottom:0%;
		    transform:translate(-50%);
		    width:800px;
		    height:auto;
		}


		svg{
			.state 
			{
				fill:#fff;
				stroke:#000;
				stroke-width:1px;
				stroke-opacity:1;
				stroke-linejoin:round;
				stroke-dasharray:none;
				cursor:pointer;
			}

			.state-stage{
				display:none;
			}

			.state-stage#CA-stage{
				display:block;
			}

			.territory
			{
				opacity:0;
				fill:#E0E0E0;
				stroke:#646464;
				stroke-width:1;
				stroke-opacity:1;
			}

			.territoryborder
			{
				opacity:0;
				fill:none;
				stroke:#A9A9A9;
				stroke-width:2;
			}

			.border
			{
				opacity:0;
				fill:none;
				stroke:#A9A9A9;
				stroke-width:2;
			}

			.circle
			{
			   opacity:1;
			   fill:#E0E0E0;
			   stroke:#646464;
			   stroke-width:1;
			}
		}
	}
	#map-container{
		position:relative;
		width:100%;
		height:100%;
		.pin-cta-container{
			position:absolute;
			height:100px;
			width:100%;
			background:green;
			z-index: 2;
			.pin-cta{
				margin:25px auto;
				width:50px;
				height:50px;
				border-radius:5px;
				border:black;
				border-width:.5px;
				cursor:pointer;
				background:red;
				font-size: 12px;
				text-align: center;
				line-height: 1.5;
			}
		}
	
		#map{
			position:absolute;
			top:0;
			left:0;
			z-index: 1;
			width:100%;
			height:100%;
		}
	}
}

